@charset "UTF-8";
.button-action {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px;
  cursor: pointer;
  background-color: #1c55e3;
  color: #eee; }

.login input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #bbb; }

.icon-menu {
  background: url("../images/menu.png");
  background-position: 0 0;
  height: 30px;
  width: 32px; }

.icon-news {
  background: url("../images/news.png");
  background-position: 0 -90px;
  height: 30px;
  width: 39px; }

.icon-money {
  background: url("../images/money.png");
  background-position: 0 -100px;
  height: 50px;
  width: 54px; }

.icon-contact {
  background: url("../images/contact.png");
  background-position: 0 0;
  height: 30px;
  width: 32px; }

nav#desktop {
  position: absolute;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  /*-- Práctica 3 --*/
  /*----------------*/ }
  @media (max-width: 1024px) {
    nav#desktop {
      display: none; } }

nav#desktop ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

nav#desktop > ul {
  width: 100%;
  height: 32px;
  background-color: #138;
  color: #eee; }

nav#desktop li.categoria {
  float: left; }

nav#desktop li.categoria > a {
  -moz-transition: padding 0.4s ease-out;
  -webkit-transition: padding 0.4s ease-out;
  transition: padding 0.4s ease-out; }

nav#desktop li.categoria:hover > a {
  padding: 10px 20px; }

nav#desktop li.categoria:hover ul.submenu {
  height: 100px; }

nav#desktop li.categoria ul.submenu {
  -moz-transition: height 0.5s ease-out;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  position: absolute;
  height: 0px;
  overflow: hidden; }

nav#desktop a {
  background-color: #138;
  color: #eee;
  text-decoration: none;
  width: 160px;
  padding: 7px 20px;
  display: block;
  text-align: center;
  cursor: pointer; }

nav#desktop a:hover {
  color: white;
  background-color: #1744b5;
  -moz-animation: iluminar 0.4s linear;
  -webkit-animation: iluminar 0.4s linear;
  animation: iluminar 0.4s linear; }

nav#mobile {
  display: none;
  float: right; }
  @media (max-width: 1024px) {
    nav#mobile {
      display: block; } }

nav#mobile ul {
  margin: 0px;
  height: 0px;
  overflow: hidden;
  list-style-type: none;
  position: absolute;
  right: 10px;
  top: 40px; }

nav#mobile ul a {
  background-color: #138;
  color: #eee;
  text-decoration: none;
  width: 160px;
  padding: 7px 20px;
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 0.6em;
  font-weight: normal; }

nav#mobile ul a:hover {
  color: white;
  background-color: #1744b5;
  -moz-animation: iluminar 0.4s linear;
  -webkit-animation: iluminar 0.4s linear;
  animation: iluminar 0.4s linear; }

nav#mobile:hover ul {
  height: auto; }

@keyframes iluminar {
  from {
    color: #eee;
    background-color: #15a; }
  to {
    color: white;
    background-color: #166cd8; } }
body {
  padding: 0;
  margin: 0; }

header {
  padding: 12px 30px;
  font-size: 1.8em;
  color: #444;
  background-color: #eee;
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
  font-family: Georgia, "Times New Roman", Times, serif; }

#contenido {
  padding: 30px 20px; }
  @media (max-width: 1024px) {
    #contenido {
      padding: 10px 20px; } }

.col-left {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  float: left;
  padding: 10px; }

.col-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 30%;
  width: 70%;
  padding: 10px; }
  @media (max-width: 800px) {
    .col-right {
      margin-left: 0px;
      width: 100%; } }

.col-right > h1 {
  color: #166cd8;
  font-size: 1.6em; }

i {
  display: inline-block; }

li.categoria > a {
  -moz-transition: padding 0.4s linear;
  -webkit-transition: padding 0.4s linear;
  transition: padding 0.4s linear; }

ul.submenu {
  -moz-transition: height 0.5s linear;
  -webkit-transition: height 0.5s linear;
  transition: height 0.5s linear;
  position: absolute;
  height: 0px;
  overflow: hidden; }

nav a:hover {
  color: white;
  background-color: #166cd8;
  -moz-transition: iluminar 0.4s linear;
  -webkit-transition: iluminar duration linear;
  animation: iluminar 0.4s linear; }

footer {
  color: #eee;
  background-color: #15a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 5px; }

/*# sourceMappingURL=screen.css.map */
